<h1>Posts</h1>





<div>
    <div class="row">
        <select class="form-control" (change)="reloadPosts({ userId: u.value })" #u>
            <option value="">Select a user...</option>
            <option *ngFor="#user of users" value="{{ user.id }}">
                {{ user.name }}
            </option>
        </select>


        <nav aria-label="Page navigation" *ngIf="showPagenation">
            <ul class="pagination">
                <li [class.disabled]="selectedPagenationIndex == 0">
                    <a aria-label="Previous"(click) = "checkPagenation(selectedPagenationIndex - 1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li *ngFor="#count of pagenationElements;" [class.active] = "count == selectedPagenationIndex">
                    <a (click) = "checkPagenation(count)">{{count}}</a>
                </li>

                <li  [class.disabled]="selectedPagenationIndex + 2 > pagenationElements.length">
                    <a aria-label="Next" (click) = "checkPagenation(selectedPagenationIndex + 1)" disabled>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <spinner [visible]="isPostsLoading"></spinner>
        <div class="col-md-6">
            <ul class="list-group posts">
                <li *ngFor="#post of postsToShow" class="list-group-item" [class.active]="currentPost == post" (click)="select(post)"> {{post.title}}
                </li>
            </ul>
        </div>
        <div class="col-md-6" *ngIf="currentPost">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{currentPost.title}}</h3>
                </div>
                <div class="panel-body">
                    {{currentPost.body}}
                </div>
            </div>

            <spinner [visible]="isCommentLoading"></spinner>
            <div class="media" *ngFor="#postComment of postComments; #i = index">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object thumbnail" src="http://lorempixel.com/80/80/people?random={{postComment.id}}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{postComment.name}} - {{postComment.email}}</h4>
                    {{postComment.body}}
                </div>
            </div>
        </div>
    </div>
    <!--export class PostComment {
    postId: number;
    id: number;
    email: string;
    body: string;
}-->